$figtree: '../fonts/figtree/'
$ibm: '../fonts/ibm/'

@mixin declare-font-face($mypath, $fontFileName, $fontFamilyName, $fontWeight: normal, $fontStyle: normal, $SVGName: '')
  @font-face
    font-family: $fontFamilyName
    font-weight: $fontWeight
    font-style: $fontStyle
    font-display: swap

    src: url('#{$mypath}#{$fontFileName}.ttf') format('truetype')


@include declare-font-face($figtree, 'figtree-semibold', 'Figtree', 600, normal)
@include declare-font-face($figtree, 'figtree-bold', 'Figtree', 700, normal)
@include declare-font-face($figtree, 'figtree-light', 'Figtree', 300, normal)
@include declare-font-face($ibm, 'ibmplexmono-medium', 'IBM Plex Mono', 500, normal)
