$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts"

// COLORS
// ---------------------------------------------------------
$primary-100: #305AD3
$primary-200: #29428A
$primary-300: #1C2746

$secondary-100: #FFEFA2
$secondary-200: #FFD504
$secondary-300: #BF8E22

// TRANSITION
// ---------------------------------------------------------
$transition-duration-default: 350ms
$transition-timing-default: ease
$transition-default: $transition-duration-default $transition-timing-default
$transition-duration-smooth: 600ms
$transition-timing-smooth: cubic-bezier(0, 0.38, 0.14, 0.62)
$transition-smooth: var(--transition-duration-smooth) var(--transition-timing-smooth)


// https://sass-lang.com/documentation/breaking-changes/css-vars
\:root
  ///// COLORS
  --primary-100: #{$primary-100}
  --primary-200: #{$primary-200}
  --primary-300: #{$primary-300}
  --secondary-100: #{$secondary-100}
  --secondary-200: #{$secondary-200}
  --secondary-300: #{$secondary-300}

  ///// FONTS
  --font-family-sans: 'Figtree', Helvetica, Arial, sans-serif
  --font-family-title: 'Figtree', Georgia, MS Serif, serif
  --font-family-icon: 'Font Awesome 5 Pro'
  --font-family-icon-brands: 'Font Awesome 5 Brands'

  ///// ANIMATIONS
  --transition-duration-default: #{$transition-duration-default}
  --transition-timing-default: #{$transition-timing-default}
  --transition-default: #{$transition-duration-default} #{$transition-timing-default}
  --transition-duration-smooth:  #{$transition-duration-smooth}
  --transition-timing-smooth:  #{$transition-timing-smooth}
  --transition-smooth:  #{$transition-duration-smooth}  #{$transition-timing-smooth}

  ///// ANIMATIONS
  --transition-duration-default: #{$transition-duration-default}
  --transition-duration-smooth:  #{$transition-duration-smooth}
  --transition-timing-smooth:  #{$transition-timing-smooth}


$lg-path-fonts: '~lightgallery.js/src/fonts'
$lg-path-images: '~lightgallery.js/src/img'
