.burger
  width: 29px
  height: 29px

  &::after
    content: ''
    @apply absolute
    @apply top-0
    @apply w-full
    height: 3px
    @apply rounded-full
    @apply transition
    @apply transition-transform
    @apply ease-in
    @apply duration-500

  &::before
    content: ''
    @apply absolute
    @apply bottom-0
    @apply w-full
    height: 3px
    @apply rounded-full
    @apply transition
    @apply transition-transform
    @apply ease-in
    @apply duration-500

  span
    @apply absolute
    top: 13px
    @apply inline-block
    @apply w-full
    height: 3px
    @apply rounded-full
    @apply transition
    @apply transition-transform
    @apply ease-in
    @apply duration-500

  &.active
    span
      @apply opacity-0

    &::after
      top: 13px
      transform: rotate(-45deg)

    &::before
      top: 13px
      transform: rotate(45deg)

.burger--white
  &::after
    @apply bg-white

  &::before
    @apply bg-white

  span
    @apply bg-white
