////////////////////
// OBJECT FIT
////////////////////////////////////////////////////////////////////////////////

///// IMG COVER
.img-cover
  @apply h-full
  @apply w-full
  object-fit: cover
  font-family: 'object-fit: cover' // for the polyfill object-fit cover


///// IMG CONTAIN
.img-contain
  @apply h-full
  @apply w-full
  object-fit: contain
  font-family: 'object-fit: contain' // for the polyfill object-fit contain





////////////////////
// REMAINING RATIO
////////////////////////////////////////////////////////////////////////////////

// Permet au wrapper de l'image de conserver le même ratio quelle que soit la taille d'écran
// Le ratio de 60% correspond à une taille standard de photo horizontale (60% de hauteur par rapport à la largeur)
// Pour plus d'infos : http://www.mademyday.de/css-height-equals-width-with-pure-css.html

.img-ratio-wrapper
  @apply relative
  &::before
    content: ''
    @apply block
    padding-top: 60%

  .img-ratio
    @apply inset-0
    @apply absolute
