////////////////////
// LIST
////////////////////////////////////////////////////////////////////////////////

.list
  li
    @apply relative
    @apply mb-4
    @apply pl-6

  li:last-child
    @apply mb-0

  li::before
    content: ' '
    @apply absolute
    @apply left-0
    @apply top-0
    @apply inline-block
    min-width: 10px
    min-height: 10px
    margin-top: 0.4rem
    @apply rounded-full
    @apply bg-primary-200
    @apply self-start
