#styleguide-buttons.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Buttons

  .space-x-3
    button.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button") Button text
    button.inline-flex.items-center.px-6.py-3.border.border-indigo-700.shadow-sm.text-base.font-medium.rounded-md.text-indigo-700.bg-white(class="hover:bg-indigo-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button") Button text
    button.inline-flex.items-center.px-6.py-3.border.border-transparent.shadow-sm.text-base.font-medium.rounded-md.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button")
      .fal.fa-times.-ml-1.mr-3
      span Button text

    button.inline-flex.items-center.px-6.py-3.border.border-transparent.shadow-sm.text-base.font-medium.rounded-md.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button")
      span Button text
      .fal.fa-times.-mr-1.ml-3

    button.inline-flex.items-center.justify-center.items-center.h-12.w-12.p-3.border.border-transparent.rounded-full.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button")
      .fal.fa-times
