#styleguide-color.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Colors

  .grid.gap-6.grid-cols-1(class="lg:grid-cols-2")
    .grid.gap-2.grid-cols-3
      div
        p.mb-2 Primary 100
        .w-full.h-32.rounded.bg-primary-100

      div
        p.mb-2 Primary
        .w-full.h-32.rounded.bg-primary-200

      div
        p.mb-2 Primary 300
        .w-full.h-32.rounded.bg-primary-300

    .grid.gap-2.grid-cols-3
      div
        p.mb-2 Secondary 100
        .w-full.h-32.rounded.bg-secondary-100

      div
        p.mb-2 Secondary
        .w-full.h-32.rounded.bg-secondary-200

      div
        p.mb-2 Secondary 300
        .w-full.h-32.rounded.bg-secondary-300
