.w-container.max-w-container-xs.mx-auto.h-16.bg-primary-200.mt-6.flex.items-center.justify-center.rounded
  p.text-white.font-bold container xs + max-width

.w-container.max-w-container-lg.mx-auto.h-16.bg-primary-200.mt-6.flex.items-center.justify-center.rounded
  p.text-white.font-bold container lg + max-width

.w-container.mx-auto.h-16.bg-primary-200.mt-6.flex.items-center.justify-center.rounded
  p.text-white.font-bold container full

.mx-auto.h-16.bg-primary-200.mt-6.mb-6.flex.items-center.justify-center.rounded(class="xl:w-container")
  p.text-white.font-bold container + collapse container mobile
