#styleguide-dropdown.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Dropdown

  .space-y-6
    .dropdown.w-full.relative(data-controller="dropdown" data-action="click@window->dropdown#clickOutsideHandler")
      .dropdown__button.relative.px-5.py-3.text-base.w-full.flex.justify-between.items-center.border-2.border-gray-100.cursor-pointer.transition.transition-colors.ease-in.duration-300(data-action="click->dropdown#toggleActive")
        p.font-title.font-title.line-clamp-1 Dropdown titre (sur une seule ligne )
        i.dropdown__icon.far.fa-chevron-down.text-base.ml-3.text-primary-200
      .dropdown__content.z-10.absolute.bottom-0
        .p-5.bg-white.shadow-lg.mt-4
          p Texte
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quae placeat molestiae autem, accusantium omnis aperiam reiciendis iusto at explicabo, obcaecati culpa nostrum optio consectetur quam corrupti nemo harum vero.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quae placeat molestiae autem, accusantium omnis aperiam reiciendis iusto at explicabo, obcaecati culpa nostrum optio consectetur quam corrupti nemo harum vero.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quae placeat molestiae autem, accusantium omnis aperiam reiciendis iusto at explicabo, obcaecati culpa nostrum optio consectetur quam corrupti nemo harum vero.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quae placeat molestiae autem, accusantium omnis aperiam reiciendis iusto at explicabo, obcaecati culpa nostrum optio consectetur quam corrupti nemo harum vero.
