
#styleguide-checkbox.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Checkbox / Radio

  .grid.gap-4.grid-cols-1(class="lg:grid-cols-2")
    div
      label.inline-flex.items-center
        input.form-radio.h-4.w-4(name="accountType" type="radio" value="personal")
        span.ml-2 Personal
      label.inline-flex.items-center.ml-6
        input.form-radio.h-4.w-4(name="accountType" type="radio" value="busines")
        span.ml-2 Business

    div
      label.inline-flex.items-center
        input.form-checkbox.h-4.w-4(checked="" type="checkbox")
        span.ml-2 Option 1
      label.inline-flex.items-center.ml-6
        input.form-checkbox.h-4.w-4(checked="" type="checkbox")
        span.ml-2 Option 1
