#styleguide-form.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Forms

  .grid.gap-4.grid-cols-1
    div
      label.block.text-sm.font-medium.text-gray-700.mb-1(for="email") Email
      .mt-1
        input#email.shadow-sm(class="block w-full h-12 px-3 border border-gray-200 rounded-md focus:ring-indigo-500 focus:border-indigo-500" name="email" placeholder="you@example.com" type="text")

    div
      label.block.text-sm.font-medium.text-gray-700.mb-1(for="account_number")  Account number
      .mt-1.relative.rounded-md.shadow-sm.group
        input#account_number.h-12.px-3(class="border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 rounded-md" name="account_number" placeholder="000-00-0000" type="text")
        .absolute.inset-y-0.right-0.pr-3.flex.items-center.pointer-events-none
          i.fal.fa-envelope.text-lg.text-gray-400(class="group-hover:text-indigo-500")

    div
      .form-group
        label.block.text-sm.font-medium.text-gray-700.mb-1(for='description') Description :
        textarea#description.shadow-sm(class="block w-full px-3 pt-3 border border-gray-200 rounded-md focus:ring-indigo-500 focus:border-indigo-500" rows="5" type='text' placeholder='Description' name='description')

