#styleguide-link.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Links

  .flex.flex-col.space-y-16
    div
      a.text-indigo-400.transition.transition-colors.ease-in.duration-300(class="hover:text-indigo-700" href="") Link primary

    div
      a.group.relative.text-indigo-400.transition.transition-colors.ease-in.duration-300(class="hover:text-indigo-700" href="")
        span.block.bg-indigo-700.h-px.absolute.left-0.-bottom-1.w-full.opacity-50.transition-all.ease-in.duration-300(class="group-hover:w-0")
        | Link underline
