#styleguide-modal.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Modal

  div
    a.link.link-underline.link-gray(href="#modal-contact" data-modal-open) Ouvrir la modale

  .mt-6(class="lg:mt-12")
    a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="https://github.com/benceg/vanilla-modal") Lib
