#styleguide-slider.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Sliders

  div
    .swiper-container.slider-navigation(data-controller="carousel" data-carousel-options-value='{  "freeMode": true, "breakpoints": { "320": { "slidesPerView": 1 }, "640": { "slidesPerView": 2 }, "800": { "slidesPerView": 3.2 } }, "pagination": { "el": ".swiper-pagination", "dots": true, "centerMode": true, "clickable": true }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }')
      .swiper-wrapper
          each _ in Array(10)
            .swiper-slide.p-1
              include thumb-accommodations.pug

      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination
