#styleguide-text.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Texts Style

  .space-y-12
    ul.list
      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur risus quis.
      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur risus quis.
      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur risus quis.
      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur risus quis.

    div(data-controller="readmore" data-readmore-max-height-value="105" data-readmore-text-open-value="Lire la suite" data-readmore-text-close-value="Réduire")
      div(data-target="readmore.content")
        p.font-sans.leading-relaxed.mb-6(class="lg:mb-0")
          span Ref. AC2116 - Winter Immobilier vous propose en exclusivité un nouvel appartement de type 3 pièces dans un superbe immeuble bourgeois entièrement ravalé, à 150 mètres de la mer et du boulevard Gambetta avec le projet de pietonnisation, et à moins de 10 minutes à pied de l'arrêt de tramway du jardin Alsace Lorraine et CUM de la ligne numéro 2 reliant le port à l'aéroport.
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra ante magna, sit amet vestibulum turpis suscipit ut. Sed in dignissim dui. Vivamus quam quam, iaculis et nisi ac, facilisis venenatis mi. In nisl enim, mattis ut est et, varius tempor ex. Proin malesuada vel neque sit amet rhoncus. Maecenas scelerisque lobortis magna, non dapibus risus. Pellentesque scelerisque imperdiet blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non pellentesque orci. Integer nisl magna, tincidunt non efficitur sed, dignissim sit amet dui. Aenean scelerisque nulla sit amet magna sodales, vitae blandit erat fermentum.
          span Donec convallis nunc quis dictum vulputate. Pellentesque vel vestibulum est. Donec justo arcu, auctor id egestas non, tristique non mi. Nam tempus arcu nec nisi malesuada condimentum. Curabitur in suscipit purus, et placerat sem. Ut tempus quam quis lacus ullamcorper, sit amet gravida justo dictum. Proin ullamcorper accumsan ante, eget lacinia urna fringilla quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque semper purus non magna sodales maximus. In interdum vel lacus vitae consequat. Nam lacinia facilisis nunc eget viverra. Integer quis neque eu felis lacinia porta a in lacus. Quisque luctus augue convallis interdum sodales. Pellentesque scelerisque lorem eu quam finibus, hendrerit condimentum metus cursus. Donec pulvinar tortor nibh, et vehicula nisi scelerisque et.
      button.link.link-underline.link-primary.mt-2(class="focus:outline-none" type="button" data-target="readmore.link" data-action="click->readmore#handleClickLink") En savoir plus
