#styleguide-typo.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Typography

  .space-y-3
    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase XS
      .col-span-4
        p.font-title.text-xs Text xs - Font Title
        p.font-sans.text-xs Text xs - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase Base
      .col-span-4
        p.font-title.text-base Text base - Font Title
        p.font-sans.text-base Text base - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase LG
      .col-span-4
        p.font-title.text-lg Text lg - Font Title
        p.font-sans.text-lg Text lg - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase XL
      .col-span-4
        p.font-title.text-xl Text xl - Font Title
        p.font-sans.text-xl Text xl - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase 2 XL
      .col-span-4
        p.font-title.text-2xl Text 2 xl - Font Title
        p.font-sans.text-2xl Text 2 xl - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase 3 XL
      .col-span-4
        p.font-title.text-3xl Text 3 xl - Font Title
        p.font-sans.text-3xl Text 3 xl - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase 4 XL
      div(class="lg:col-span-4")
        p.font-title.text-4xl Text 4 xl - Font Title
        p.font-sans.text-4xl Text 4 xl - Font Sans

    .grid.gap-2.grid-cols-1(class="lg:grid-cols-5")
      div(class="lg:col-span-1")
        p.uppercase 5 XL
      div(class="lg:col-span-4")
        p.font-title.text-5xl Text 5 xl - Font Title
        p.font-sans.text-5xl Text 5 xl - Font Sans
