#styleguide-wysiwyg.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Wysiwig

  .wysiwyg-wrapper
    h2 Titre de niveau 2
    h3 Titre de niveau 3
    h4 Titre de niveau 4

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam earum sequi cumque esse excepturi porro, architecto perferendis? Sint recusandae quia nisi ea! Voluptate sunt odio voluptatibus nulla, commodi quidem. Dolore?

    h4 Titre de niveau 4

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam earum sequi cumque esse excepturi porro, architecto perferendis? Sint recusandae quia nisi ea! Voluptate sunt odio voluptatibus nulla, commodi quidem. Dolore?
      a(href="") Exemple de liens

    ul
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam earum sequi cumque esse excepturi porro, architecto perferendis? Sint recusandae quia nisi ea! Voluptate sunt odio voluptatibus nulla, commodi quidem. Dolore?
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam earum sequi cumque esse excepturi porro, architecto perferendis? Sint recusandae quia nisi ea! Voluptate sunt odio voluptatibus nulla, commodi quidem. Dolore?
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam earum sequi cumque esse excepturi porro, architecto perferendis? Sint recusandae quia nisi ea! Voluptate sunt odio voluptatibus nulla, commodi quidem. Dolore?

    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

