.lg-on
  @apply overflow-hidden
  @apply h-full
  @apply max-h-full

.lg-backdrop
  @apply bg-transparent

@screen xl
  .lg-outer .lg-image
    @apply h-full #{!important}

.lg-outer
  @apply bg-white
  @apply z-max

#lg-counter
  @apply hidden

.lg-toolbar
  @apply bg-transparent
  z-index: 6000

  .lg-icon
    @apply bg-white

.lg-image
  z-index: 4000

.lg-actions
  @apply fixed
  @apply bottom-10
  @apply left-0
  @apply right-0
  @apply mx-auto
  height: 3.4375rem
  max-width: 11.25rem
  z-index: 5000

.lg-close
  @apply bg-white
  @apply text-primary-200 #{!important}
  @apply fixed
  @apply bottom-10
  @apply left-0
  @apply right-0
  @apply mx-auto
  @apply rounded-full
  @apply flex
  @apply justify-center
  @apply items-center
  height: 3.4375rem !important
  width: 3.4375rem !important
  box-shadow: 0 2px 10px rgba(54,54,54,0.15) !important
  transform: scale(1)
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out !important

  &::after
    content: "\f00d" !important
    @apply font-icon #{!important}
    @apply font-light
    @apply text-xl

  &:hover
    @apply text-primary-200 #{!important}
    transform: scale(1.1) !important

.lg-actions .lg-prev
  @apply rounded-full
  @apply bg-white
  @apply text-primary-200 #{!important}
  height: 2.8125rem
  width: 2.8125rem
  top: 13px
  @apply flex
  @apply justify-center
  @apply items-center
  @apply left-0
  box-shadow: 0 2px 10px rgba(54,54,54,0.15)
  transform: scale(1)
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out

  &::after
    content: "\f053"
    @apply font-icon
    @apply font-light
    font-size: 1.2rem
    @apply absolute
    top: 13px
    left: 16px

  &:hover
    transform: scale(1.1)

.lg-actions .lg-next
  @apply rounded-full
  @apply bg-white
  @apply text-primary-200 #{!important}
  top: 13px
  height: 2.8125rem
  width: 2.8125rem
  @apply flex
  @apply justify-center
  @apply items-center
  @apply right-0
  box-shadow: 0 2px 10px rgba(54,54,54,0.15)
  transform: scale(1)
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out

  &::before
    content: "\f054"
    @apply font-icon
    @apply font-light
    font-size: 1.2rem
    @apply absolute
    top: 13px
    right: 16px

  &:hover
    transform: scale(1.1)
