extends layouts/application.pug

block content
  include layouts/header.pug

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Figtree et IBM Plex Mono

  section.bg-gray-100
    .w-container.max-w-xl.mx-auto.py-10(class="lg:max-w-container-xs lg:py-32")
      p.font-figtree.font-bold.text-40.tracking-test3.uppercase.mb-5 Les projets
      .flex.space-x-6.uppercase.font-ibm.mb-5.font-medium.tracking-test-4
        p habitat & hébergement
        p travail & production
      h2.font-figtree.font-bold.text-32.tracking-test.leading-35.mb-3 Mairie annexe, logements et office notarial à ANSE
      p.font-figtree.font-light.text-18.tracking-test2.leading-26.mb-3 Située le long de la route de Marcilly à Civrieux d’Azergues, la salle des sports s’inscrit au pied d’une colline verdoyante à proximité d’un groupe scolaire et d’une salle des fêtes. Son emplacement en fait un enjeu de requalification en lien de frontalité avec le secteur Ouest de la route de Marcilly et avec le centre ancien. Objet un peu autiste et difforme, l’actuelle salle de sport,par son implantation adossée à la colline, a libéré et préservé un grand espace vide qui lui fait face.
      p.font-figtree.font-light.text-18.tracking-test2.leading-26 Le projet prend le parti de limiter au maximum l’emprise de la salle de sports sur ses pignons Nord et Sud, et vient au contraire contenir l’essentiel de la reconstruction sur la grande face ouest, qui est la façade principale de l’équipement. Même construite, la colline est un « écrin » qui porte la salle de sports et qu’il convient de préserver. Ainsi, la salle de sport, dans sa nouvelle configuration, s’exprime comme un « fond de scène », ancré dans la colline.
