.header.menu.relative.bg-indigo-700.text-white.py-6.sticky.top-0.z-max
  .w-container.max-w-container-lg.mx-auto
    a.text-white.transition.transition-colors.ease-in.duration-300(class="hover:text-indigo-200" href="styleguide.html") Styleguide
